.top {
  display: flex;
  justify-content: space-between;

  font-size: 30px;
  padding: 90px 30px;
  background-color: #ffce33;
}

.search {
  width: 95%;
  height: 100px;
  margin: 0 30px;
  font-size: 30px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
  box-shadow: 0 0 5px 0 rgba(108, 99, 99, 0.95);
}
.search span {
  margin-right: 300px;
}
.tod {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
}
.tod span {
  width: 100%;
  margin-left: 61px;
  font-size: 90px;
}
.tod__book {
  height: 400px;
  width: 700px;
  border-radius: 30px;
  margin-top: 20px;
}
img {
  height: 400px;
  width: 700px;
  border-radius: 30px;
}
.tod__ex {
  height: 400px;
  width: 800px;

  margin-top: 20px;
  font-size: 30px;
  margin-left: 40px;
}
.tod__ex__te {
  font-size: 35px;
}
.tod__ex__ex {
  opacity: 0.2;
}
.tod__ex__star {
  color: yellowgreen;
}
.tod__ex__m {
  display: flex;
  margin: 10px 0;
}
.tod__ex__m__cat {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 20px;
}
.tod__ex__ma {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}
.tod__ex__ma__mark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: yellowgreen;
}
.tod__ex__ma__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 100px;
}
